<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Contact - Paster</title>
</head>
<body>
    <div class="container">
        <div class="menu">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/write">Write</a>
            <a href="/contact">Contact</a>
            <a href="https://github.com/ghalbeyou">Creator</a>
        </div>
        <h1>Contact us - paster</h1>
        <p>Contact us: arashaminiasdf@gmail.com</p>
        <div class="footer"><p>Paster 2022</p>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/write">Write</a>
            <a href="/contact">Contact</a>
            <a href="https://github.com/ghalbeyou">Creator</a></div>
    </div>
</body>
</html>