<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Home - Paster</title>
</head>
<body>
    <div class="container">
        <h1>Paster</h1>
        <p>Using this app, allows you to share your text to others. <b>Free & Open Source</b></p>
        <p>Why not writing you're very own paste?</p> <button onclick="window.location.href = '/write'">Write</button>
        <br/>
        <h2>Pastes that are in this app!</h2>
        <p>There are {{ paster }} pastes in <b>Paster</b> !</p>
        <p>Paster 2022</p>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/write">Write</a>
        <a href="https://github.com/ghalbeyou">Creator</a>
    </div>
</body>
</html>